
@import "tailwindcss";



/* blue-dark-0: #0b0f1c
blue-dark-1: #131725
greadien-1: blue & violet || #2196F3 & #9C27B0
text-gray: #9e9db2
text-white: #ebebf0 */

:root {
  font-family: font2;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffffde;
  --orange-1:#ffd700;
}



*{
  box-sizing: border-box;
  /* user-select: none; */
}




@font-face {
  font-family: font1;
  src: url(./fonts/ElMessiri-VariableFont_wght.ttf);
}
@font-face {
  font-family: font2;
  src: url(./fonts/NationalPark-VariableFont_wght.ttf);
}




body{
  background-color: #6229e715;
  background-color: #0b0f1c;

}



.link-normal{
  @apply flex items-center gap-4 whitespace-nowrap p-2 px-4 border border-transparent rounded-xl text-[#b3b2c0] transition-all duration-150 hover:shadow-[inset_-1px_0_30px_7px_#6229e715] 
}
.link-active{
  @apply border-[#6229e7c2] shadow-[inset_-1px_0_30px_7px_#6229e781] 
}
.center-x-y{
  @apply flex items-center justify-center
}

.box{
  @apply bg-gray-900/70 p-4 py-5 border border-gray-800/80 rounded-xl flex  bg-linear-to-b from-gray-700/5 to-gray-950/40
}


.nav.none-active{
  @apply w-20
}
.nav i{
  @apply duration-300
}
.nav.none-active i{
  @apply text-lg
}

.inp{
  /* color: #ff31f517; */
  @apply focus-within:outline-4 outline-gray-800 focus-within:shadow-[0_0_30px_#ff31f517]
}
.nav p{
  opacity: 1;
  transition: .2s;
  
}
.nav .upgrade-dev{
  transition: .2s;
  opacity: 1;
}
.nav .btn-upgrade-only{
  transition: .2s;
  opacity: 1;
  @apply visible
}
.nav.none-active p{
  opacity: 0;
  @apply collapse
}
.nav.none-active .logo-big{
  opacity: 0;
  @apply hidden
}
.nav.none-active .upgrade-dev{
  opacity: 0;
  @apply hidden
}
.nav.active-nav .btn-upgrade-only{
  opacity: 0;
  @apply collapse
}
.nav.active-nav .btn-upgrade-only{ 
  opacity: 0;
  @apply collapse
}
.nav.active-nav .logo-small{ 
  opacity: 0;
  @apply hidden
}

.link-active i{
  @apply font-bold
}

.pa{
  @apply text-sm text-gray-500
}
.h2a{
  @apply text-2xl pb-1
}

.inp-s{
  @apply border border-gray-800 rounded-lg 
}

.th-s{
  @apply text-start border-b border-gray-800/80 p-1 py-2 pl-4 text-gray-700
}
.td-s{
  @apply text-start border-b border-gray-800/50 p-4 text-[13px] py-3 text-gray-300
}

.oper-box-small-i-green{
  @apply p-2 px-3 bg-linear-to-b from-green-600 to-green-800 rounded-lg
}
.oper-box-small-i-blue{
  @apply p-2 px-3 bg-linear-to-b from-blue-600 to-blue-800 rounded-lg
}

.info-student{
  transform: translate(-50px,0);
  opacity: 0;
  transition: .7s;
  visibility: collapse ;
}
.info-student.active{
  transform: translate(0px,0);
  opacity: 1;
  visibility: visible ;
}

.back-popup{
  visibility: collapse;
  opacity: 0;
  transition: .3s;
}
.popup{
  visibility: collapse;
  transform: scale(.5);
  opacity: 0;
  transition: .3s;
  box-shadow: 0 0 150px 10px #fffd8c34;
}

.back-popup.active{
  visibility: visible;
  opacity: 1;
}
.popup.active{
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

/* 
.info-student .svg{
  opacity: 0;
  
} */
.info-student.active .svg{
  transform: scale(6);
  opacity: 0;
  animation: animat_svg .8s forwards;
  animation-delay: .3s;
}

@keyframes animat_svg {
  0%{
    transform: scale(6);
    opacity: 0;
  }
  50%{
    transform: scale(.5);
    opacity: .8;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }

}

select {
  color-scheme: dark;
}

select {
  @apply border-none px-5
  /* background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 4px; */
}


option {
  background-color: #101828 ;
  color: #cecece;
}

.hr-y{
  border: none;
  width: 1px;
}

.link-active p{
  color: #dfdbdb;
}
.link-active i{
  color: #ff393986;
  color: #9b31ff;
}

.notefications .count{
  width: 20px;
  height: 15px;
  border-radius: 50px;
  position: absolute;
  top: -5px;
  right: -5px ;
  background: linear-gradient(to top,#9b31ff , #6f31ff);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  transition: .2s;
}
button:hover{
  /* opacity: 0.9; */
  transform: scale(1.015);
}


.input-chekBox{
  appearance: none;
  position: relative;
  border: 1px solid #b4a9cc2c;
  width: 70px;
  height: 30px;
  border-radius: 50px;
}

.input-chekBox::after{
  content: '';
  position: absolute;
  top:-1px;
  left:0;
  width: 30px;
  height: 30px;
  background: linear-gradient(to left , #2a018b , #524500);
  border-radius: 50%;
  transition: .2s;
  transform: scale(1.2);
}

.input-chekBox:checked::after{
  left: 40px;
  background: linear-gradient(to left , #6f31ff , #ffd700);
}
.input-chekBox:checked{
  background: linear-gradient(to left , #6f31ff50 , #ffd90044);
}


.content-page{
  animation: animat_page .3s ease;

}

@keyframes animat_page {
  0%{
    opacity: 0;
    transform: translate(-30px,0);
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }
}

.nav .over::-webkit-scrollbar{

  width: 2px;
  left: 100px;
  transition: .2s ease;
}
.nav .over::-webkit-scrollbar-thumb{
  background-color: #d6c5ff38;
  border-radius: 10px;
  
}
.nav .over:hover::-webkit-scrollbar-thumb{
  background-color: #d6c5ff57;
}



.notifcat{
  height: 0;
  overflow: hidden;
  visibility: collapse;
  transform: translate(0,-10px);
  opacity: 0;
  transition: .3s;
  padding: 0;
}

.notifcat.active{
  visibility: visible;
  height: auto;
  transform: translate(0,0);
  opacity: 1;
  @apply  p-5 py-3 ;
}


.no-found{
  max-width: 0;
  transition: .3s;
  opacity: 0;
}
.no-found.active{
  max-width: 400px;
  opacity: 1;
}
